<h1 style = "font-size:3rem;color:orange">Examen Demo</h1>

Librerías

In [3]:
# Librerías
import numpy as np
import pandas as pd
from functools import reduce
import math

## 01
- La serie de Fibonacci es una sucesión de números, en la cual cada número es la suma de los dos anteriores. Los dos primeros son siempre 0 y 1.
  - $F_0 = 0$
  - $F_1 = 1$
  - $F_n = F_{n-1} + F_{n-2}$
- Crear una serie de Fibonacci hasta un número *n* usando una función lambda.

In [14]:
def fibonacci_lambda(count):
    fib_list = [0, 1]
    any(map(lambda _: fib_list.append(sum(fib_list[-2:])),
                                         range(2, count)))
    return fib_list[:count]

In [15]:
expected_fibo_serie = [0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597]
fibo_serie = fibonacci_lambda(len(expected_fibo_serie))  # This calls your lambda function fibonacci_lambda
print(fibo_serie)
assert(expected_fibo_serie == fibo_serie)  # This will fail if the serie is not correct

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

## 02

- Crear una función que reciba un array de NumPy y devuelva otro en el cual estén marcados como True los elementos duplicados (a partir de la segunda ocurrencia), y como False los no repetidos o las primeras ocurrencias de los duplicados.

In [5]:
def find_duplicates(array):
    serie = pd.Series(array)
    duplicated_mask = serie.duplicated(keep='first')
    return duplicated_mask

In [9]:
def find_duplicates_2(array):
    result = np.full(array.shape[0], True)
    unique_positions = np.unique(array, return_index=True)[1]
    result[unique_positions] = False
    return result

In [10]:
numbers = np.array([4, 4, 4, 3, 8, 1, 9, 6, 1, 5, 9, 4, 0, 2])
expected_output = np.array([False, True, True, False, False, False, False, False, True, False, True, True, False, False])
output = find_duplicates_2(numbers)   # This calls your function find_duplicates
print(output)
assert(np.array_equal(expected_output, output))  # This will fail if the result is not as expected

[False  True  True False False False False False  True False  True  True
 False False]

## 03

- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} -9x +  4y = 20 \\ -7y + 16x = 80                         \end{cases}$
    
    - $ B : \begin{cases} x - 2y + 3z = 7 \\ 2x + y + z = 4 \\ -3x + 2y -2z = -10 \end{cases}$
- Verifica por código los resultados

In [14]:
A_a = np.array([[-9, 4], [16, -7]])
A_b = np.array([20, 80])
x, y = np.linalg.solve(A_a, A_b)
print(f"x = {x}, y = {y}")

print(math.isclose(-9*x + 4*y, 20))
print(math.isclose(-7*y + 16*x, 80))

x = 460.0, y = 1040.0
True
True

In [15]:
assert([math.isclose(-9*x + 4*y, 20), math.isclose(16*x - 7*y, 80)] == [True, True])

In [16]:
B_a = np.array([[1, -2, 3], [2, 1, 1], [-3, 2, -2]])
B_b = np.array([7, 4, -10])
x, y, z = np.linalg.solve(B_a, B_b)
print(f"x = {x}, y = {y}, z = {z}")

print(math.isclose(x - 2*y + 3*z, 7))
print(math.isclose(2*x + y + z, 4))
print(math.isclose(-3*x + 2*y - 2*z, -10))

x = 2.0, y = -0.9999999999999998, z = 1.0000000000000002
True
True
True

## 04

- Crear un objeto Series con 10 elementos, que contenga más de un tipo básico, con índices de tipo string
- Demuestra que los datos con índices posicionales son los mismos que los obtenidos con índices semánticos, seleccionando a través de slicing, al menos 4 elementos de la serie anterior

In [12]:
series_object = pd.Series([3, 5.9, True, False, 'Acelga'], index=list('abcde'))
print(series_object, "\n")

print(series_object.loc[:'d'] == series_object.iloc[:4])

a         3
b       5.9
c      True
d     False
e    Acelga
dtype: object

a    True
b    True
c    True
d    True
dtype: bool

## 05

- Crear un DataFrame de dimensiones 10x10, con números aleatorios en el rango `[0,20]`
- Reemplazar todos aquellos elementos menores de 5 por NaN
- Averiguar cuantos elementos tienen Nan por fila

In [19]:
df = pd.DataFrame(np.random.randint(0, 21, size=(10, 10)))
display(df)

df[df < 5] = np.nan
display(df)

print(df.isna().sum(axis=1))

    0   1   2   3   4   5   6   7   8   9
0  15   4  14  10  13   5   4  10   1   2
1   4  13  14  11   1  14   9  19   5   4
2  11   6  12  11  13   8   9   8   1   0
3   2  15  19   4  12  14  15  20   2  15
4   5   7   7  17  16   4  10   8  17   6
5   1   6  15  10  11  18   1  18   3   9
6   3   9   6   2  18   9   5  14  15  20
7   4   1   2  10   8   5  14   7  12  12
8  11  15  10  20  19  13  14   0   3   9
9  13  12  15   9   3  15   2   6   7   9

      0     1     2     3     4     5     6     7     8     9
0  15.0   NaN  14.0  10.0  13.0   5.0   NaN  10.0   NaN   NaN
1   NaN  13.0  14.0  11.0   NaN  14.0   9.0  19.0   5.0   NaN
2  11.0   6.0  12.0  11.0  13.0   8.0   9.0   8.0   NaN   NaN
3   NaN  15.0  19.0   NaN  12.0  14.0  15.0  20.0   NaN  15.0
4   5.0   7.0   7.0  17.0  16.0   NaN  10.0   8.0  17.0   6.0
5   NaN   6.0  15.0  10.0  11.0  18.0   NaN  18.0   NaN   9.0
6   NaN   9.0   6.0   NaN  18.0   9.0   5.0  14.0  15.0  20.0
7   NaN   NaN   NaN  10.0   8.0   5.0  14.0   7.0  12.0  12.0
8  11.0  15.0  10.0  20.0  19.0  13.0  14.0   NaN   NaN   9.0
9  13.0  12.0  15.0   9.0   NaN  15.0   NaN   6.0   7.0   9.0

0    4
1    3
2    2
3    3
4    1
5    3
6    2
7    3
8    2
9    2
dtype: int64

## 06

- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados

In [24]:
# Your solution HERE !!!!
def remove_duplicates(lst):
    return pd.DataFrame(np.unique(lst))

In [25]:
serie = ['a','b','c','a','c','a','g']
expected_output = pd.DataFrame(['a','b','c','g'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
print(output)
assert(expected_output.equals(output))  # This will fail if the result is not as expected

   0
0  a
1  b
2  c
3  g

## 07 - 1pt

- Escribir un generador `frange` que simule el comportamiento de la función `arange` de NumPy
- Esta función cada vez que se invoque debe devolver valores espaciados uniformemente a partir de un valor inicial. Se debe proveer a dicha función un valor inicial para la secuencia de números y un valor para el step
- Debe soportar valores númericos en coma flotante
- La función potencialmente se puede llamar un número infinito de veces
- Usando plain Python, sin ninguna librería

In [37]:
# Your solution HERE !!!!
def frange(init, step):
    n = init
    while True:
        yield round(n, 1)
        n += step

In [39]:
import math

init = 10.6
step = 0.8
g = frange(init, step)  # This calls your function frange

iters = 10
numbers = [next(g) for n in range(iters)]
for i, n in enumerate(numbers):
    assert(math.isclose(n, init + (step * i)))  # This will fail if the range is not properly created
print(numbers)

[10.6, 11.4, 12.2, 13.0, 13.8, 14.6, 15.4, 16.2, 17.0, 17.8]

## 08

- Crear una función que reciba una Serie de Pandas y devuelva esa misma serie, reemplazando los espacios en blanco por el carácter menos frecuente en dicha serie.

In [59]:
# Your solution HERE !!!!
def clean_whitespace_replace(serie):
    less_frequent = serie.value_counts().index[-1]
    serie.replace(' ', less_frequent, inplace=True)
    return serie

def clean_whitespace_replace_2(serie):
    less_frequent = serie.value_counts().index[-1]
    serie[serie==' '] = less_frequent
    return serie

In [61]:
serie = pd.Series(list('bba cabc faabba aacbbfe'))
expected_output = pd.Series(list('bbaecabcefaabbaeaacbbfe'))
output = clean_whitespace_replace_2(serie)  # This calls your function clean_whitespace_replace
print(output)
assert(expected_output.equals(output))  # This will fail if result is not as expected

0     b
1     b
2     a
3     e
4     c
5     a
6     b
7     c
8     e
9     f
10    a
11    a
12    b
13    b
14    a
15    e
16    a
17    a
18    c
19    b
20    b
21    f
22    e
dtype: object