# Examen Segunda Convocatoria

Alumno: José Jesús La Casa Nieto

In [124]:
# Your imports HERE !!!!
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

## 01 - 1.25pt
- Dada una lista de elementos, crea una función que devuelva un dataframe sin los elementos duplicados y ordenados

In [21]:
# Your solution HERE !!!!
def remove_duplicates(lst):
    lst = list(set(lst))
    lst.sort()
    return pd.DataFrame(lst)

In [22]:
serie = ['a','a','t','a','c','g','g','a','c','t']
expected_output = pd.DataFrame(['a','c','g','t'])
output = remove_duplicates(serie)   # This will call tour function remove_duplicates
assert(expected_output.equals(output))  # This will fail if the result is not as expected

## 02- 1.25pt
- Dado un diccionario con una lista de nombres de películas y al año concatenado, crear una función que devuelva un DataFrame con dos columnas:
  - Columna 1, el nombre de la película sin el año
  - Columna 2, el año de la película

In [56]:
# Your solution HERE !!!!
def extract_year(dct):
    year_lst = []
    name_lst = []
    for lst in movies.values():
        for movie in lst:
            year_lst.append(movie[-4:])
            name_lst.append(movie[:-7])
    
    return pd.DataFrame({'Name': name_lst, 'Year': year_lst})

In [57]:
movies = {'Name': ["Matrix - 1999", "Cadena Perpetua - 1994", "Parasitos - 2019", "Vengadores, Endgame - 2019", "Interstellar - 2014", 
                   "Django Desencadenado - 2012", "El Padrino - 1972", "El Caballero Oscuro - 2008", "Erase Una Vez En America - 1984", 
                   "El Senyor de los Anillos, La Comunidad del Anillo - 2001"]}
expected_output = pd.DataFrame({'Name':["Matrix", "Cadena Perpetua", "Parasitos", "Vengadores, Endgame", "Interstellar", "Django Desencadenado", 
                                        "El Padrino", "El Caballero Oscuro", "Erase Una Vez En America", "El Senyor de los Anillos, La Comunidad del Anillo"],
                                'Year':["1999", "1994", "2019", "2019", "2014", "2012", "1972", "2008", "1984", "2001"]})
output = extract_year(movies)   # This will call your function extract_year
assert(expected_output.equals(output))  # This will fail if the result is not as expected

## 03 - 1.25 pt

- Crear una matriz cuadrada 6x6 con valores aleatorios enteros en el rango [-10,10]
- Restar a cada elemento de dicha matriz la media de su correspondiente columna (dicha media redondeada hacia el entero superior más cercano)
- Sustituir los valores negativos múltiplos de 3 por Nan
- Eliminar aquellas columnas que tengan 2 o más celdas con valores Nan

In [89]:
# Your solution HERE !!!!
matrix = np.random.randint(-10, 11, size=(6, 6))
print(matrix)

col_means = matrix.mean(axis=0)
col_means = np.ceil(col_means)
print(f"\n{col_means}")

matrix = np.subtract(matrix, col_means)
print(f"\n{matrix}")

matrix = np.where((matrix < 0) & (matrix % 3 == 0), np.nan, matrix)
print(f"\n{matrix}")

matrix = np.delete(matrix, np.isnan(matrix).sum(axis=0) >= 2, axis=1)
print(f"\n{matrix}")

[[ -7  -7  -3 -10  -1 -10]
 [ -4  -4  -9  -9   4  -8]
 [  4   4  -2  -7   4  -1]
 [  5  -1  -4  -6   8   3]
 [ -6  10  -4  -4  -1   8]
 [  9   3   5  -9  -3 -10]]

[ 1.  1. -2. -7.  2. -3.]

[[-8. -8. -1. -3. -3. -7.]
 [-5. -5. -7. -2.  2. -5.]
 [ 3.  3.  0.  0.  2.  2.]
 [ 4. -2. -2.  1.  6.  6.]
 [-7.  9. -2.  3. -3. 11.]
 [ 8.  2.  7. -2. -5. -7.]]

[[-8. -8. -1. nan nan -7.]
 [-5. -5. -7. -2.  2. -5.]
 [ 3.  3.  0.  0.  2.  2.]
 [ 4. -2. -2.  1.  6.  6.]
 [-7.  9. -2.  3. nan 11.]
 [ 8.  2.  7. -2. -5. -7.]]

[[-8. -8. -1. nan -7.]
 [-5. -5. -7. -2. -5.]
 [ 3.  3.  0.  0.  2.]
 [ 4. -2. -2.  1.  6.]
 [-7.  9. -2.  3. 11.]
 [ 8.  2.  7. -2. -7.]]

## 04 - 3pt
- Se tienen tres datasets, se adjuntan sus datos como diccionarios
  - Students, representa un conjunto de alumnos, con sus nombres, edad y sexo
  - Subjects, un conjunto de asignaturas, con su nombre y el semestre en que se imparten
  - Marks, un conjunto de notas que han obtenido los alumnos en las asignaturas
- Obtener la siguiente información usando Pandas
  - Los nombres del alumno con la peor nota, y en que asignatura ha sido
  - Cuantos alumnos tienen asignaturas aprobadas en el primer semestre
  - La media de edad de los asistentes a la asignatura de Math
  - Formar una palabra con las iniciales de los nombres de los estudiantes ordenados por edad descendente, menores de 50 años
- Representar graficamente
  - Las notas medias de todos los estudiantes por asignatura, agrupando por sexo
  - La densidad bivariable de la edad de los estudiantes frente a sus notas, agrupando por sexo (mostrando los datos de dispersion en la zona central, las curvas de densidad en los ejes)

In [91]:
students = {'StudentId': [1,2,3,4,5,6], 'Name' : ['Philip','Max','Yamileh','Nathan','Uma','Paula'], 'Age' : [22,31,19,44,39,51], 'Sex' : ['M', 'M', 'F', 'M', 'F', 'F']}
subjects = {'SubjectId': [1,2,3], 'Name': ['Python', 'Math', 'DeepLearning'], 'Semester': [1, 1, 2]}
marks = {'StudentId' : [2,2,1,3,6,4,4,3,2,5], 'SubjectId' : [1,3,1,2,1,2,3,1,2,1], 'Mark': [6,5,8,3,5,1,7,2,4,6]}

In [126]:
# Your solution HERE !!!!
students_df = pd.DataFrame(students)
display(students_df)

subjects_df = pd.DataFrame(subjects)
display(subjects_df)

marks_df = pd.DataFrame(marks)
display(marks_df)

worst_mark_index = marks_df['Mark'].idxmin()
worst_student_id = marks_df['StudentId'].iloc[worst_mark_index]
worst_student_index = students_df[students_df['StudentId'] == worst_student_id]
worst_student_name = worst_student_index['Name'].values[0]
subject_id = marks_df['SubjectId'].iloc[worst_mark_index]
subject_index = subjects_df[subjects_df['SubjectId'] == subject_id]
subject_name = subject_index['Name'].values[0]
print(f"\nAlumno con la peor nota: {worst_student_name}\nAsignatura: {subject_name}")

marks_df_first_sem = marks_df[(marks_df['SubjectId'] == 1) | (marks_df['SubjectId'] == 2)]
print(f"\nAlumnos con asignaturas aprobadas primer semestre: {(marks_df_first_sem['Mark'] >= 5).sum()}\n")

marks_df_math = marks_df[(marks_df['SubjectId'] == 2)]
display(marks_df_math['StudentId'])   # Se obtienen los Id de los estudiantes
students_df_math = students_df[(students_df['StudentId'] == 2) | (marks_df['StudentId'] == 3) | (marks_df['StudentId'] == 4)]
print(f"\nMedia de edad de la asignatura de 'Math': {students_df_math['Age'].mean()} años")

   StudentId     Name  Age Sex
0          1   Philip   22   M
1          2      Max   31   M
2          3  Yamileh   19   F
3          4   Nathan   44   M
4          5      Uma   39   F
5          6    Paula   51   F

   SubjectId          Name  Semester
0          1        Python         1
1          2          Math         1
2          3  DeepLearning         2

   StudentId  SubjectId  Mark
0          2          1     6
1          2          3     5
2          1          1     8
3          3          2     3
4          6          1     5
5          4          2     1
6          4          3     7
7          3          1     2
8          2          2     4
9          5          1     6

Alumno con la peor nota: Nathan
Asignatura: Math

Alumnos con asignaturas aprobadas primer semestre: 4

3    3
5    4
8    2
Name: StudentId, dtype: int64

Media de edad de la asignatura de 'Math': 42.0 años

C:\Users\pepel\AppData\Local\Temp\ipykernel_24876\2070383643.py:25: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  students_df_math = students_df[(students_df['StudentId'] == 2) | (marks_df['StudentId'] == 3) | (marks_df['StudentId'] == 4)]

## 05 - 1.25pt
- Escribir una función 'prime_number' que cada vez que se invoque devuelva el siguiente número primo,  empezando por el 2, hasta cualquier número infinito. Usando plain Python, sin ninguna librería. Primo es aquel número natural mayor que 1, que solo es divisible por 1 y por si mismo.

In [33]:
# Your solution HERE !!!!
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def prime_number():
    n = 2
    while True:
        if is_prime(n):
            yield n
        n += 1

In [34]:
expected_output = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
g = prime_number()  # This calls your function prime_number
output = [next(g) for n in range(len(expected_output))]
assert(expected_output == output)  # This will fail if the output is not as expected

## 06 - 1 pt
- Dado un array de elementos, escribir una función, que reciba dicho array como parámetro de entrada y devuelva el elemento repetido. Usando plain Python, sin ninguna librería.

In [25]:
# Your solution HERE !!!!
def repeated_element(lst):
    elements_viewed = []
    for number in lst:
        if number in elements_viewed:
            return number
        else:
            elements_viewed.append(number)

In [26]:
array_src = [4, 8, 0, 3, 6, 2, 1, 5, 3, 9, 7]
expected_rep_element = 3
rep_element = repeated_element(array_src) # This calls your function repeated_element
assert(expected_rep_element == rep_element)  # This will fail if the element is not found correctly

## 07 - 1pt
- Resolución de dos sistemas de ecuaciones
    - $ A : \begin{cases} 8x +  2y = 11 \\ -3y + 10x = 44                         \end{cases}$
    
    - $ B : \begin{cases} -4z + y = 5 \\ 3y + 2z = -2 \\ -x -z + 2y = -1 \end{cases}$
- Verifica por código los resultados

In [31]:
# Your solution HERE !!!!
a = np.array([[8, 2], [10, -3]])
b = np.array([11, 44])

x,y = np.linalg.solve(a,b)
print(math.isclose(8*x + 2*y, 11))
print(math.isclose(-3*y + 10*x, 44))

c = np.array([[0, 1, -4], [0, 3, 2], [-1, 2, -1]])
d = np.array([5, -2, -1])

x,y,z = np.linalg.solve(c, d)
print(math.isclose(-4*z + y, 5))
print(math.isclose(3*y + 2*z, -2))
print(math.isclose(-x - z + 2*y, -1))

True
True
True
True
True